In [43]:
import numpy as np
import pandas as pd
import re

In [219]:
df = (
    pd
    .read_csv("05_flats.csv")
    .drop_duplicates()
    .drop(index=286)
    .apply(lambda x : x.str.strip().str.lower() if x.dtype == 'object' else col)
    .loc[lambda x : x['price'].str.contains('lac|crore', na=False)]
    .assign(
        bhk = lambda x : x['property_name'].str.extract(r"(\d*)")
        ,locality = lambda x : x['property_name'].str.split(" in").apply(lambda x : x[1]).str.strip()
        ,price1 = lambda x : x['price'].str.extract(r"([0-9]*\.*[0-9]*)").astype(float)
        ,price_cr = 
    )
    .drop(columns=['property_name'])
)

df.shape

(2996, 22)

In [220]:
df.sample(5)

,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,...,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id,bhk,locality,price1
730,https://www.99acres.com/2-bhk-bedroom-apartmen...,ireo the corridors,1.4 crore,"₹ 9,433/sq.ft.",super built up area 1484(137.87 sq.m.)carpet a...,2 bedrooms,2 bathrooms,2 balconies,"study room,others","sector 67a gurgaon, gurgaon, haryana",...,1 to 5 year old,"['huda metro station (gurugram)', 'paras trini...",brand new condition flat with good wooden work,[],"['security / fire alarm', 'intercom facility',...","['environment5 out of 5', 'lifestyle4 out of 5...",x69328048,2,sector 67a gurgaon,1.40
2630,https://www.99acres.com/3-bhk-bedroom-apartmen...,apartment,75 lac,"₹ 4,687/sq.ft.",carpet area: 1600 (148.64 sq.m.),3 bedrooms,4 bathrooms,3 balconies,study room,"sector 92 gurgaon, gurgaon, haryana",...,5 to 10 year old,"['yadav clinic', 'bangali clinic', 'dr. j. s. ...","within 2-3 kms schools, malls, hospital are av...","['5 fan', '7 light', 'no ac', 'no bed', 'no ch...","['security / fire alarm', 'feng shui / vaastu ...","['environment5 out of 5', 'safety3 out of 5', ...",s69087390,3,sector 92 gurgaon,75.00
1016,https://www.99acres.com/3-bhk-bedroom-apartmen...,ats tourmaline3.9 ★,1.75 crore,"₹ 8,139/sq.ft.",super built up area 2150(199.74 sq.m.),3 bedrooms,4 bathrooms,3+ balconies,servant room,"n/a, sector 109 gurgaon, gurgaon, haryana",...,1 to 5 year old,"['dwarka sector 21 metro station', 'neosquare ...",this lovely 3 bhk apartment/flat in sector 109...,[],"['security / fire alarm', 'power back-up', 'fe...","['green area4.5 out of 5', 'construction4.5 ou...",l69512094,3,sector 109 gurgaon,1.75
852,https://www.99acres.com/4-bhk-bedroom-apartmen...,bptp mansions park prime,3 crore,"₹ 10,853/sq.ft.",super built up area 2764(256.78 sq.m.)built up...,4 bedrooms,4 bathrooms,3 balconies,"pooja room,study room,servant room,others","201, sector 66 gurgaon, gurgaon, haryana",...,1 to 5 year old,"['hub 66', 'shiksha bharti public school', 'vi...","a 4 bhk flat in sector 66 gurgaon, gurgaon is ...","['7 fan', '1 exhaust fan', '4 geyser', '1 stov...","['centrally air conditioned', 'water purifier'...","['environment3 out of 5', 'lifestyle4 out of 5...",m69225774,4,sector 66 gurgaon,3.00
2252,https://www.99acres.com/2-bhk-bedroom-apartmen...,m3m soulitude,1 crore,"₹ 9,066/sq.ft.",carpet area: 1103 (102.47 sq.m.),2 bedrooms,2 bathrooms,2 balconies,study room,"e32/2, sector 89 gurgaon, gurgaon, haryana",...,within 6 months,"['vatika town square-inxt', 'sector 86 road', ...","corner property, easy access from nh8, dwarka ...",NaN,"['feng shui / vaastu compliant', 'security / f...","['environment4 out of 5', 'lifestyle4 out of 5...",p69680328,2,sector 89 gurgaon,1.00

In [159]:
df = pd.read_csv("05_flats.csv")
df.drop_duplicates(inplace=True)
df.drop([286], inplace=True)
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = df[col].str.strip()
        df[col] = df[col].str.lower()
df['bhk'] = df['property_name'].str.extract(r"(\d*)")
df['locality'] = df['property_name'].str.split(" in ").apply(lambda x : x[1]).str.strip()
df = df.drop(columns=['property_name'])
df['price1'] = df['price'].str.extract(r"(\d*)")
df['price_unit'] = df['price'].str.replace(r"[^a-zA-Z]", "", regex=True)
df = df[(df['price_unit'].str.contains('lac')) | (df['price_unit'].str.contains('crore'))]

df.shape

In [162]:
df.head(3)

,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,...,nearbyLocations,description,furnishDetails,features,rating,property_id,bhk,locality,price1,price_unit
0,https://www.99acres.com/2-bhk-bedroom-apartmen...,maa bhagwati residency,45 lac,"₹ 5,000/sq.ft.",carpet area: 900 (83.61 sq.m.),2 bedrooms,2 bathrooms,1 balcony,NaN,"krishna colony, gurgaon, haryana",...,"['chintapurni mandir', 'state bank atm', 'pear...",so with lift.maa bhagwati residency is one of ...,"['3 fan', '4 light', '1 wardrobe', 'no ac', 'n...","['feng shui / vaastu compliant', 'security / f...","['environment4 out of 5', 'safety4 out of 5', ...",c68850746,2,krishna colony,45,lac
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,apna enclave,50 lac,"₹ 7,692/sq.ft.",carpet area: 650 (60.39 sq.m.),2 bedrooms,2 bathrooms,1 balcony,NaN,"46b, ashok vihar, gurgaon, haryana",...,"['chintapurni mandir', 'sheetla mata mandir', ...","property situated on main road, railway statio...","['3 wardrobe', '4 fan', '1 exhaust fan', '1 ge...","['security / fire alarm', 'maintenance staff',...","['environment4 out of 5', 'safety4 out of 5', ...",h68850564,2,ashok vihar,50,lac
2,https://www.99acres.com/2-bhk-bedroom-apartmen...,tulsiani easy in homes,40 lac,"₹ 6,722/sq.ft.",carpet area: 595 (55.28 sq.m.),2 bedrooms,2 bathrooms,3 balconies,NaN,"sohna, gurgaon, haryana",...,"['huda city metro', 'golf course extn road', '...","this property is 15 km away from badshapur, gu...",NaN,"['power back-up', 'feng shui / vaastu complian...","['environment4 out of 5', 'safety4 out of 5', ...",j68850120,2,sohna,40,lac